/**
 * Application initial colors
 */

$black: #0d0d0d;
$white: #ffffff;

$linkHoverColor: $black;
$bodyColor: $black;
$linkColor: $black;
$bodyBg: $white;

$textPrimary: #23303b;
$textSecondary: #2c4058;
$primaryBackground: #fffacf;
$secondaryColor: #e0cecf;
$primaryRed: #f74d4d;
