/**
 * Application initial colors
 */

$black: #000000;
$white: #FFFFFF;

$primaryYellow: #FFE400;
$primaryBlue: #5474FD;
$primaryHoverBlue: #043F8D;

$backgroundPrimary: #333333;
$backgroundSecondary: #E3E3E3;


$primaryIconBlue: #5771FB;
$primaryIconBlueSecond: #059EE6;
$primaryIconRed: #EE6269;
$primaryDarkGrey: #444444;
$primaryTextGrey: #F7F8F9;