@import "./../constants/index.scss";
@import "./../mixins.scss";


.hero {
  min-height: 100vh;
  background: url("./../assets/images/111.png") 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;



  &__container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }

  
}


